/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); */

:root{
    --primary-color: rgb(18, 182, 211);
    --primary-color-dark: rgb(10, 62, 71);
}
* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Raleway',sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}


